<h3>Sign up</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  


    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %><br />
  

  
    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br />

    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br />
<%= f.label :phone_number %>
    <%= f.text_field :phone_number %><br />

<%= f.fields_for :address do |address_form| %>
   <div><%= address_form.label :address_line_1 %>
    <%= address_form.text_field :address_line_1 %></div>
    <div><%= address_form.label :address_line_2 %>
    <%= address_form.text_field :address_line_2 %></div>
        <div><%= address_form.label :suburb %>
    <%= address_form.text_field :suburb %></div>
            <div><%= address_form.label :state %>
    <%= address_form.text_field :state %></div>
                <div><%= address_form.label :state %>
                <%= address_form.text_field :state %></div>
    <div><%= address_form.label :postcode %>
    <%= address_form.number_field :postcode, min: 800, max: 9999 %></div>
<% end %>
</div>
<%# Defines if the user can post courses. Phone number is required to select this.%>
<%= f.label :instructor %>
    <%= f.check_box :instructor %><br />

  <div class="actions">
    <%= f.submit "Sign up" %>
  
<% end %>
</div>
<%= render "devise/shared/links" %>
