
<%= form_with model: @course do |form|  %>     
    
    <div><%= form.label :title %>
    <%= form.text_field :title %></div>


    <div><%= form.label :description %>
    <%= form.text_area :description %></div>

    <div><%= form.label :start_time %>
    <%= form.datetime_field :start_time %> </div>
        <div><%= form.label :end_time %>
    <%= form.datetime_field :end_time %> </div>
        <div><%= form.label :duration %>
    <%= form.time_field :duration %> </div>

    <div><%= form.label :fee %>
    <%= form.text_field :fee %></div>

    <div><%= form.label :instructor_name %>
    <%= form.text_field :instructor_name %></div>
        <div><%= form.label :instructor_role %>
    <%= form.text_field :instructor_role %></div>
    
    <div><%= form.label :practice_management %>
    <%= form.number_field :practice_management, min: 0, max: 10 %></div>
        <div><%= form.label :ethics %>
        <%= form.number_field :ethics, min: 0, max: 10 %></div>
        <div><%= form.label :professional_skills %>
    <%= form.number_field :professional_skills, min: 0, max: 10 %></div>
        
        
        
        <div><%= form.label :substantive_law %>
    <%= form.number_field :substantive_law, min: 0, max: 10 %></div>

    <div><%= form.label :course_category %>
    <%= form.text_area :course_category, min: 0, max: 10 %></div>
        <div><%= form.label :picture %>
    <%= form.file_field :picture, accept: 'image/png, image/jpg, image/jpeg' %></div>
    <div><%= form.label :substantive_law %>
    <%= form.number_field :substantive_law, min: 0, max: 10 %></div>
        <div><%= form.label :url %>
    <%= form.text_field :url %></div>

    <%= form.submit %>
  </div>


<% end %>
