<div class="mb-3">
<%= form_with model: @course do |form|  %>     
    
    <div><%= form.label :title %>
    <%= form.text_field :title %></div>


    <div><%= form.label :description %>
    <%= form.text_area :description %></div>
        <div><%= form.label :online %>
    <%= form.check_box :online %></div>




    <div><%= form.label :start_time %>
    <%= form.datetime_field :start_time %> </div>
        <div><%= form.label :end_time %>
    <%= form.datetime_field :end_time %> </div>
        <div><%= form.label :duration %>
    <%= form.time_field :duration %> </div>

    <div><%= form.label :fee %>
    <%= form.text_field :fee %></div>

    <div><%= form.label :instructor_name %>
    <%= form.text_field :instructor_name %></div>
        <div><%= form.label :instructor_role %>
    <%= form.text_field :instructor_role %></div>
    
    <div><%= form.label :practice_management %>
    <%= form.number_field :practice_management, min: 0, max: 10 %></div>
        <div><%= form.label :ethics %>
        <%= form.number_field :ethics, min: 0, max: 10 %></div>
        <div><%= form.label :professional_skills %>
    <%= form.number_field :professional_skills, min: 0, max: 10 %></div>
        
        
        
        

        <div>    <%= form.label :category %>
    <%= form.collection_select :category_id, Category.all, :id, :category %></div>




    <div><%= form.label :substantive_law %>
    <%= form.number_field :substantive_law, min: 0, max: 10 %></div>
        <div><%= form.label :url %>
    <%= form.text_field :url %></div>
    
    
    

        <div><%= form.label :picture %>
    <%= form.file_field :picture, accept: 'image/png, image/jpg, image/jpeg' %></div>
    <%= form.fields_for :address do |address_form| %>
   <div><%= address_form.label :address_line_1 %>
    <%= address_form.text_field :address_line_1 %></div>
    <div><%= address_form.label :address_line_2 %>
    <%= address_form.text_field :address_line_2 %></div>
        <div><%= address_form.label :suburb %>
    <%= address_form.text_field :suburb %></div>
            <div><%= address_form.label :state %>
    <%= address_form.text_field :state %></div>
                <div><%= address_form.label :state %>
                <%= address_form.text_field :state %></div>
    <div><%= address_form.label :postcode %>
    <%= address_form.number_field :postcode, min: 800, max: 9999 %></div>
<% end %>




    <%= form.submit %>
  </div>


<% end %>
