<h1>Find CPD</h1>

<% @courses.each do |course| %>
  <h3><%= course.title %></h3>
  <p><%= course.description %></p>
  <p><%= course.fee %></p>
    <p><%= course.time %></p>
    <p><%= course.instructor_name %></p>
    <p>Practice Management Skills <%= course.practice_management %> points</p>
    <p>Substantive Law: <%= course.substantive_law %> points</p>
    <p>Ethics: <%= course.ethics %> points</p>
    <p>Professional Skills: <%= course.professional_skills %> points</p>

  <%= link_to 'View', course_path(course) %>
  <% if user_signed_in? && current_user.id == course.user.id %>
    <%= link_to 'Edit', edit_course_path(course) %>
    <%= link_to 'Delete', course_path(course), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
