<h3><%= @course.title %></h3>

  <p><%= @course.description %></p>
  
        <% if @course.fee.present? %>
            <p>$<%= @course.fee %>
            <% else %>
            Free Course
            <% end  %></p>
    
            <% if @course.online.present? %>
            Online Course
            <% else %>
            <p><%= @course.start_time %></p>
            <p><%= @course.end_time %></p>
            <% end  %>
          
            <p><%= @course.instructor_name %></p>
            <p><%= @course.instructor_role %></p>
            <p><%= image_tag @course.picture if @course.picture.attached? %></p>

  
    <p>
          <% if @course.practice_management.present? %><p>Practice Management Skills <%= @course.practice_management %> points</p><% end %>
          
          <% if @course.substantive_law.present? %><p>Substantive Law: <%= @course.substantive_law %> points</p><% end %>
          
          <% if @course.ethics.present? %><p>Ethics: <%= @course.ethics %> points</p><% end %>
    
          <% if @course.professional_skills.present? %><p>Professional Skills: <%= @course.professional_skills %> points</p></p><% end %>


          <% if user_signed_in? && current_user.id == @course.user.id %>
            <%= link_to 'Edit', edit_course_path(@course) %>
            <%= link_to 'Delete', course_path(@course), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            <% if user_signed_in? %>
            <%= button_to 'Add to my Courses', enrollments_path(@course),  method: :post, params: {course_id:@course.id} %>
            <% end %>
<% if @course.url.present? %><a href="<%= @course.url %>" target="_blank">Link to Course</a></div> <% end %>
