<div class="coursesgrid"><%= @course.title %>

  <p><%= @course.description %></p>
  <p><%= @course.fee %></p>
    <p><%= @course.online %></p>
    <p><%= @course.online %></p>    
    <p><%= @course.start_time %></p>
        <p><%= @course.end_time %></p>
    <p><%= @course.instructor_name %></p>
    <p><%= image_tag @course.picture if @course.picture.attached? %></p>
        <p><%= @course.instructor_role %></p>
  
    <p>
    <p>Practice Management Skills <%= @course.practice_management %> points</p>
    <p>Substantive Law: <%= @course.substantive_law %> points</p>
    <p>Ethics: <%= @course.ethics %> points</p>
    <p>Professional Skills: <%= @course.professional_skills %> points</p></p>

 <%= button_to 'Add to my Courses', enrollments_path(@course),  method: :post, params: {course_id:@course.id} %>
    
<a href="<%= @course.url %>" target="_blank">Link to Course</a></div>
